<section class="container container--25-50-25  container--include-bottom-margin " id="Container-ad40b41b-c644-4bfe-a682-a077ce5ead35">
	<div class="container__col container__col--inner-left container__col--25-left">
		<div class="download-and-share hide-print" data-sitecore-placeholder-path="/content-body/legacy-column-left" data-sitecore-placeholder="legacy-column-left-{2CEE6C81-8B54-4CCE-A417-E0BE5806BDAE}-0" data-sitecore-component-name="Download And Share" data-sitecore-datasource="">
	<div class="download-and-share__share">
		<p class="download-and-share__label text-h6">
			SHARE
			<svg class="pew-icon pew-icon--xs" width="16" height="16">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/Pew/assets/images/svg-sprite.svg#share">

	</use>
</svg>
		</p>
		<div class="share-bar js-share-bar">
			<a class="xdbpe" data-xdbpe="92FCAB40-D585-426F-95A5-452E948A19A1" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fpew.org%2F3H8gA9G&amp;t=Griffin%20v5%20test%20page" title="facebook" target="_blank" rel="noreferrer">
				<svg class="pew-icon pew-icon--sm pew-icon--facebook" width="24" height="24">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/Pew/assets/images/svg-sprite.svg#facebook">

	</use>
</svg>
			</a>
			<a class="xdbpe" data-xdbpe="92FCAB40-D585-426F-95A5-452E948A19A1" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fpew.org%2F3H8gA9G&amp;title=Griffin%20v5%20test%20page&amp;summary=&amp;source=PewTrusts.org" title="linkedin" target="_blank" rel="noreferrer">
				<svg class="pew-icon pew-icon--sm pew-icon--facebook" width="24" height="24">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/Pew/assets/images/svg-sprite.svg#linkedin">

	</use>
</svg>
			</a>
			<a class="xdbpe" data-xdbpe="92FCAB40-D585-426F-95A5-452E948A19A1" href="https://twitter.com/intent/tweet?text=Griffin%20v5%20test%20page&amp;url=https%3A%2F%2Fpew.org%2F3H8gA9G&amp;via=pewtrusts" title="twitterx" target="_blank" rel="noreferrer">
				<svg class="pew-icon pew-icon--sm pew-icon--twitterx" width="24" height="24">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/Pew/assets/images/svg-sprite.svg#twitterx">

	</use>
</svg>
			</a>
			<a class="xdbpe" data-xdbpe="92FCAB40-D585-426F-95A5-452E948A19A1" href="mailto:?subject=Griffin%20v5%20test%20page&amp;body=https%3A%2F%2Fpew.org%2F3H8gA9G" title="email">
				<svg class="pew-icon pew-icon--sm pew-icon--email" width="24" height="24">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/Pew/assets/images/svg-sprite.svg#email">

	</use>
</svg>
			</a>
			<button class="share-bar__print js-share-print-btn xdbpe" data-xdbpe="FF65F8A2-F924-48B4-981A-C8FB6D8AA316" aria-label="print">
				<svg class="pew-icon pew-icon--sm pew-icon--printer" width="24" height="24">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/Pew/assets/images/svg-sprite.svg#printer">

	</use>
</svg>
			</button>
		</div>
	</div>
</div>    <section class="dynamic-promo__outer-wrapper">
        
            <section class="related-content component hide-print" data-sitecore-placeholder-path="dynamic-promo-body" data-sitecore-placeholder="dynamic-promo-body" data-sitecore-component-name="For You" data-sitecore-datasource="Shared Components/Shared For You/For You" data-sitecore-personalization-method="other" data-sitecore-taxonomy-preference="">
</section>
		<div class="newsletter-signup-promo hide-print component   component--exclude-padding  " data-sitecore-placeholder-path="dynamic-promo-body" data-sitecore-placeholder="dynamic-promo-body" data-sitecore-component-name="Newsletter Signup Promo" data-sitecore-datasource="Shared Components/Shared Newsletter Signup Promos/The Rundown">
				<p class="newsletter-signup-promo__title">
					SIGN UP FOR WEEKLY UPDATES
				</p>
			<div class="newsletter-signup-promo__content">
					<p class="newsletter-signup-promo__description js-signup-promo-description text-body-xs">
						Don’t miss our latest facts, findings, and survey results in The Rundown
					</p>

			</div>
			<form name="etForm" novalidate="novalidate" class="newsletter-signup__form js-newsletter-signup-form" data-xdbpe="F33298DE-AD63-4FB1-93AA-A6DA5FB863F3" method="post" target="_blank" action="">
				<input type="hidden" class="js-newsletter-signup-mid" name="MID" value="1380145">
				<input type="hidden" class="js-newsletter-signup-landingguid" name="LandingGUID" value="5c591a8916642e73c98fbf985605527380161c2f84a4292c8d6e8760f7ba941b">
				<input type="hidden" class="js-newsletter-signup-baseUrl" name="formPostUrl" value="https://cloud.pewtrusts.org/confirmation?guid=">


				<div class="newsletter-signup__field-wrapper">
					<div class="newsletter-signup__field">
						<div class="input newsletter-signup__input js-newsletter-signup-input">

							<label for="newsletter-signup-input-ab9ed59699a44b77b50d7f7a3cbe02dc">Email</label>
							<input id="newsletter-signup-input-ab9ed59699a44b77b50d7f7a3cbe02dc" name="emailAddress" type="email" placeholder="Enter email address" variant="primary" aria-describedby="emailErr" aria-label="Email">
						<div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
						<p id="emailErr" class="newsletter-signup__validation-error js-newsletter-signup-validation-error text-body-xs" aria-live="polite" data-error="Please provide a valid email address">
						<button class="btn btn--variant-secondary btn--size-lg newsletter-signup__submit" type="submit">
							Submit
						</button>
					</p></div>
					<p id="selectionErr" class="newsletter-signup__validation-error js-newsletter-signup-select-validation-error text-body-xs" aria-live="polite" data-error="Please select a newsletter">
				</p></div>

			</form>
		</div>


        
    </section>


	</div>
	<div class="container__col container__col--50-center">
		
<!-- 
	<div id="rte-0da78ee3-4110-4e06-a1f3-3782a63396d2" class="js-rich-text js-rich-text-field rich-text rich-text-field component u-allow-page-break rich-text--Left  " data-sitecore-placeholder-path="/content-body/primary-column-left" data-sitecore-placeholder="primary-column-left-{2CEE6C81-8B54-4CCE-A417-E0BE5806BDAE}-0" data-sitecore-component-name="Rich Text" data-sitecore-datasource="/Components/Rich Text/p1" style="--rte-max-width: 650px;">
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt quidem molestiae rerum sapiente consequatur, ex earum voluptatum assumenda accusamus!</p>
<br class="t-last-br">
	</div> -->


<!-- Third Party Embed -->
    <div class="third-party-embed component hide-print" data-sitecore-placeholder-path="/content-body/primary-column-left" data-sitecore-placeholder="primary-column-left-{2CEE6C81-8B54-4CCE-A417-E0BE5806BDAE}-0" data-sitecore-component-name="Third Party Embed" data-sitecore-datasource="/Components/Third Party Embed/chart test 1">

        <%= require('./../../src/index.ejs')({htmlWebpackPlugin}) %>
    </div>







	</div>
	<div class="container__col container__col--inner-right container__col--25-right">
		    <section class="dynamic-promo__outer-wrapper">
        
            
        
    </section>


		<div class="newsletter-signup-promo hide-print component   " data-sitecore-placeholder-path="/content-body/secondary-column-right" data-sitecore-placeholder="secondary-column-right-{2CEE6C81-8B54-4CCE-A417-E0BE5806BDAE}-0" data-sitecore-component-name="Newsletter Signup Promo" data-sitecore-datasource="Shared Components/Shared Newsletter Signup Promos/Newsletter Signup Promo">
				<p class="newsletter-signup-promo__title">
					SIGN UP FOR WEEKLY UPDATES
				</p>
			<div class="newsletter-signup-promo__content">
					<p class="newsletter-signup-promo__description js-signup-promo-description text-body-xs">
						Don’t miss our latest facts, findings, and survey results in The Rundown
					</p>

			</div>
			<form name="etForm" novalidate="novalidate" class="newsletter-signup__form js-newsletter-signup-form" data-xdbpe="F33298DE-AD63-4FB1-93AA-A6DA5FB863F3" method="post" target="_blank" action="">
				<input type="hidden" class="js-newsletter-signup-mid" name="MID" value="1380145">
				<input type="hidden" class="js-newsletter-signup-landingguid" name="LandingGUID" value="5c591a8916642e73c98fbf985605527380161c2f84a4292c8d6e8760f7ba941b">
				<input type="hidden" class="js-newsletter-signup-baseUrl" name="formPostUrl" value="https://cloud.pewtrusts.org/confirmation?guid=">


				<div class="newsletter-signup__field-wrapper">
					<div class="newsletter-signup__field">
						<div class="input newsletter-signup__input js-newsletter-signup-input">

							<label for="newsletter-signup-input-6978fc6feb734fb98d2a67a549c48add">Email</label>
							<input id="newsletter-signup-input-6978fc6feb734fb98d2a67a549c48add" name="emailAddress" type="email" placeholder="Enter email address" variant="primary" aria-describedby="emailErr" aria-label="Email">
						</div>
						<p id="emailErr" class="newsletter-signup__validation-error js-newsletter-signup-validation-error text-body-xs" aria-live="polite" data-error="Please provide a valid email address"></p>
						<button class="btn btn--variant-secondary btn--size-lg newsletter-signup__submit" type="submit">
							Submit
						</button>
					</div>
					<p id="selectionErr" class="newsletter-signup__validation-error js-newsletter-signup-select-validation-error text-body-xs" aria-live="polite" data-error="Please select a newsletter"></p>
				</div>

			</form>
		</div>


	</div>
</section>