<section class="container container--bleed ">
    <div class="container__inner">
        <div class="container__inner">
            <div class="third-party-embed">
                <!-- 
            
            
                       EMBED GOES HERE 
            
            
                     -->
                <%= require('./../../src/index.ejs')({htmlWebpackPlugin}) %>
            
            
                    <!--
            
            
                      END EMBED 
            
            
            
                    -->
            </div>
        </div>
    </div>
    
</section>