<section class="container container--full-width  container--include-bottom-margin " id="Container-914f12bc-5dd5-401c-a463-f7f87f902893">
	<div class="container__wrapper">
		<div class="container__col container__col--100">
			<!-- Third Party Embed -->
    <div class="third-party-embed component hide-print" data-sitecore-placeholder-path="/content-body/content-width-column" data-sitecore-placeholder="content-width-column-{33F8E26D-A3F3-4401-BA3E-9AF3EBD9604E}-0" data-sitecore-component-name="Third Party Embed" data-sitecore-datasource="/Components/Third Party Embed/EIFP">
        
        <%= require('./../../src/index.ejs')({htmlWebpackPlugin}) %>



<!-- END EMBED -->
    </div>

		</div>
	</div>
</section>